10/90 = 74.56
50/50 = 21.3
30/70 = 33.554

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from matplotlib.pyplot import figure
from sklearn.svm import SVC, LinearSVC
from sklearn.model_selection import train_test_split
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

# Import data

In [3]:
def read_file(url):

    url = url + "?raw=true"
    df = pd.read_csv(url, encoding='cp1252', sep=',', low_memory=False)
    return df

In [5]:
url = "https://github.com/hannahgathu/Thesis-Data-Visualisations/blob/main/Data/benchmark_data/dielectron.csv"

df= read_file(url)

In [15]:
df[df['M']>74.56][M]

19

In [16]:
def to_classification_problem(df, split_value):
    column_name="M>{}".format(split_value)
    df[column_name]=df['M']>split_value
    return df

In [17]:
df_split=to_classification_problem(df, 74.56)

In [9]:
pd.qcut(df['M'], q=10)

0         (6.074, 10.565]
1        (14.116, 17.387]
2        (33.554, 46.522]
3          (1.999, 6.074]
4          (1.999, 6.074]
               ...
99995     (6.074, 10.565]
99996    (17.387, 21.283]
99997    (10.565, 14.116]
99998      (1.999, 6.074]
99999    (33.554, 46.522]
Name: M, Length: 100000, dtype: category
Categories (10, interval[float64]): [(1.999, 6.074] < (6.074, 10.565] < (10.565, 14.116] < (14.116, 17.387] ... (26.336, 33.554] < (33.554, 46.522] < (46.522, 74.56] < (74.56, 109.999]]

In [20]:
df_split.head()

,Run,Event,E1,px1,py1,pz1,pt1,eta1,phi1,Q1,E2,px2,py2,pz2,pt2,eta2,phi2,Q2,M,M>74.56
0,147115,366639895,58.71410,-7.31132,10.531000,-57.29740,12.82020,-2.20267,2.17766,1,11.2836,-1.032340,-1.88066,-11.0778,2.14537,-2.344030,-2.072810,-1,8.94841,False
1,147115,366704169,6.61188,-4.15213,-0.579855,-5.11278,4.19242,-1.02842,-3.00284,-1,17.1492,-11.713500,5.04474,11.4647,12.75360,0.808077,2.734920,1,15.89300,False
2,147115,367112316,25.54190,-11.48090,2.041680,22.72460,11.66100,1.42048,2.96560,1,15.8203,-1.472800,2.25895,-15.5888,2.69667,-2.455080,2.148570,1,38.38770,False
3,147115,366952149,65.39590,7.51214,11.887100,63.86620,14.06190,2.21838,1.00721,1,25.1273,4.087860,2.59641,24.6563,4.84272,2.330210,0.565865,-1,3.72862,False
4,147115,366523212,61.45040,2.95284,-14.622700,-59.61210,14.91790,-2.09375,-1.37154,-1,13.8871,-0.277757,-2.42560,-13.6708,2.44145,-2.423700,-1.684810,-1,2.74718,False

In [21]:
df_split.to_csv('dielectron_classification_10_90.csv')