In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import model_selection

In [3]:
df=pd.read_csv('dielectron_reduced_noise_classes.csv')

In [4]:
rskf = model_selection.RepeatedStratifiedKFold(n_splits=10, n_repeats=2)

In [5]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Run,Event,E1,px1,py1,pz1,pt1,...,pz2,pt2,eta2,phi2,Q2,M,M_noise,y_50,y_25,y_10
0,0,0,74881,148029,71813147,20.47820,-13.14120,5.940140,-14.538900,14.42140,...,-13.046700,8.11562,-1.253010,0.012442,1,21.49430,21.405405,False,False,False
1,1,1,44373,149011,911248516,9.75222,3.45327,1.552560,8.987230,3.78623,...,8.201500,2.45081,1.922660,2.407360,1,5.19656,-1.101298,False,False,False
2,2,2,97565,146511,403962773,2.70327,2.65829,-0.439502,0.219013,2.69438,...,0.447973,12.36220,0.036229,2.555470,1,11.28940,3.615598,False,False,False
3,3,3,3056,147115,119132977,6.27527,-1.80276,-2.081760,-5.638740,2.75385,...,-93.063400,17.11980,-2.394550,1.154500,1,15.10720,8.289502,False,False,False
4,4,4,25746,149181,1505067867,33.00930,19.27900,-6.749190,-25.930300,20.42620,...,52.557700,18.19870,1.782420,2.831050,-1,84.50320,92.529401,True,True,True

In [22]:
X=df.drop(columns=['y_50','y_25', 'y_10'])
y=df.y_50

In [23]:
rskf.split(X,y)

In [13]:
i=0
for train_index, test_index in rskf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    i++

TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [    3     4    23 ... 19955 19982 19988]
TRAIN: [    0     1     2 ... 19996 19997 19999] TEST: [   29    48    59 ... 19968 19985 19998]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [    9    33    36 ... 19967 19970 19994]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [   15    18    51 ... 19971 19984 19993]
TRAIN: [    1     3     4 ... 19997 19998 19999] TEST: [    0     2    10 ... 19966 19990 19992]
TRAIN: [    0     2     3 ... 19997 19998 19999] TEST: [    1    27    57 ... 19974 19975 19987]
TRAIN: [    0     1     2 ... 19996 19997 19998] TEST: [    5    14    20 ... 19932 19947 19999]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [   11    32    35 ... 19954 19957 19996]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [    6     8    17 ... 19981 19986 19991]
TRAIN: [    0     1     2 ... 19996 19998 19999] TEST: [    7    12    21 ... 19989 19995 19997]
TRAIN: [    0     1     3 ... 19996 19998 19999] TEST: [    2     5    19 ... 19972 19973 19997]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [   40    53    63 ... 19953 19954 19957]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [    3     6    13 ... 19987 19989 19991]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [   36    52    58 ... 19980 19984 19986]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [   16    21    27 ... 19977 19979 19992]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [    8    14    25 ... 19983 19994 19995]
TRAIN: [    1     2     3 ... 19997 19998 19999] TEST: [    0    18    23 ... 19975 19978 19985]
TRAIN: [    0     1     2 ... 19997 19998 19999] TEST: [    9    10    30 ... 19963 19968 19990]
TRAIN: [    0     2     3 ... 19996 19997 19998] TEST: [    1     4    11 ... 19937 19958 19999]
TRAIN: [    0     1     2 ... 19995 19997 19999] TEST: [    7    20    38 ... 19993 19996 19998]

In [24]:
i=0
for train_index, test_index in rskf.split(X, y):
    train_index_df=pd.DataFrame(train_index)
    test_index_df=pd.DataFrame(test_index)
    train_index_df.to_csv('train_index_{}.csv'.format(i))
    test_index_df.to_csv('test_index_{}.csv'.format(i))
    i+=1