In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import model_selection

In [4]:
df=pd.read_csv('dielectron_reduced_12000_noise_classes.csv')

In [5]:
rskf = model_selection.RepeatedStratifiedKFold(n_splits=10, n_repeats=2)

In [5]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Run,Event,E1,px1,py1,pz1,pt1,...,pz2,pt2,eta2,phi2,Q2,M,M_noise,y_50,y_25,y_10
0,0,0,74881,148029,71813147,20.47820,-13.14120,5.940140,-14.538900,14.42140,...,-13.046700,8.11562,-1.253010,0.012442,1,21.49430,21.405405,False,False,False
1,1,1,44373,149011,911248516,9.75222,3.45327,1.552560,8.987230,3.78623,...,8.201500,2.45081,1.922660,2.407360,1,5.19656,-1.101298,False,False,False
2,2,2,97565,146511,403962773,2.70327,2.65829,-0.439502,0.219013,2.69438,...,0.447973,12.36220,0.036229,2.555470,1,11.28940,3.615598,False,False,False
3,3,3,3056,147115,119132977,6.27527,-1.80276,-2.081760,-5.638740,2.75385,...,-93.063400,17.11980,-2.394550,1.154500,1,15.10720,8.289502,False,False,False
4,4,4,25746,149181,1505067867,33.00930,19.27900,-6.749190,-25.930300,20.42620,...,52.557700,18.19870,1.782420,2.831050,-1,84.50320,92.529401,True,True,True

In [6]:
X=df.drop(columns=['y_50','y_25', 'y_10'])
y=df.y_50

In [7]:
rskf.split(X,y)

In [8]:
i=0
for train_index, test_index in rskf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    i++

SyntaxError: invalid syntax (<ipython-input-8-443602e1eab1>, line 4)

In [9]:
i=0
for train_index, test_index in rskf.split(X, y):
    train_index_df=pd.DataFrame(train_index)
    test_index_df=pd.DataFrame(test_index)
    train_index_df.to_csv('train_index_{}.csv'.format(i))
    test_index_df.to_csv('test_index_{}.csv'.format(i))
    i+=1